html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    background-image: url('../images/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Nasconde lo sfondo quando viene aggiunta la classe no-background */
#root.no-background {
    background-image: none !important;
    background-color: #e2f7dd !important;
}

main.no-background {
    background-color: #e2f7dd !important;
}

main {
    flex: 1 0 auto;
    background-color: rgba(255, 255, 255, 0.4);
    padding-bottom: 70px;
}

.hero-description {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.3rem;
  color: #24341e;
  line-height: 1.7;
  text-align: center;
  max-width: 850px;
  margin:  2rem auto;
  padding: 0 1rem;
}


.hero-description p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
}

.buttonContainer{
    margin: 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttonContainer button{

    display: block;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to left, #4f7241, #7cab6b);
    color: #eaf2e8;
    padding: 12px 24px;
    font-size: 1.2rem;
    font-weight: bold;
    border: 3px solid #24341e;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(21, 183, 100, 0.4);
}

.buttonContainer button:hover{
    transform: scale(1.05);
    background: linear-gradient(to left, #7cab6b, #4f7241);
}

.buttonContainer button:active {
    background: linear-gradient(to left, #b3cea9, #eaf2e8);
    color: #24341e;
}

.buttonContainer button.active {
    background: linear-gradient(to left, #b3cea9, #eaf2e8);
    color: #24341e;
}

.buttonContainer a{
    text-decoration: none;    
}

.intro-headline {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #24341e;
  font-family: 'Poppins', sans-serif;
}

.intro-description {
  font-size: 1.2rem;
  text-align: center;
  max-width: 900px;
  margin: 0 auto 2rem auto;
  line-height: 1.6;
  color: #24341e;
  font-family: 'Poppins', sans-serif;
}